<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
        <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
    </head>
    <body>
        <div id="map"></div>


        <script type="text/javascript" src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
        <script type="text/javascript" src="http://maps.stamen.com/js/tile.stamen.js?v1.3.0"></script>
        <script>
            var map = L.map('map').setView([35.1213616,-89.939336], 15);
            var stamen = new L.StamenTileLayer("terrain");
            map.addLayer(stamen);

            // Initialize the searchCircle and PlacesGroup layers so that they
            // can be removed/updated at each call of getPlaces
            var searchCircle = L.circle([0,0], 0.5, {
                    color: '#D4D419',
                    fillColor: '#D4D419',
                    fillOpacity: 0.0
            }).addTo(map);
            var placesGroup = L.layerGroup().addTo(map);

            // Create a style for marking the pubs' locations on the map
            var beerIcon = L.icon({
                    iconUrl: "{{ url_for('static', filename='img/beer.png') }}",
                    iconSize: [25, 30]
            });
 
            // Attach the map click event handler to our getPlaces function
            map.on('click', function(e) {
                    getPlaces(e.latlng);
            });

            // Create a function that passes a REST request to our flask within() route
            function getPlaces(latlng) {
                var yelpLogoUrl = "http://s3-media1.fl.yelpcdn.com/assets/2/www/img/14f29ad24935/map/miniMapLogo.png";
                url = "/within?lat=" + latlng.lat + "&lng=" + latlng.lng;

                map.removeLayer(searchCircle);
                searchCircle = L.circle([latlng.lat, latlng.lng], 500, {
                        color: '#D4D419',
                        fillColor: '#D4D419',
                        fillOpacity: 0.05
                        }).addTo(map);

                // send the REST request to the within() function
                var request = null;
                request = new XMLHttpRequest();

                // Create our function to parse the JSON in the 
                // onreadystatechange of the request so that it can
                // handle requests asynchronously
                request.onreadystatechange = function() {
                    if (request.readyState == 4 && request.status == 200)
                    {
                        var businesses = JSON.parse(request.responseText).businesses;
                        console.log(businesses);

                        // Remove the beerPlacesGroup layer so we can recreate it 
                        // with the new results
                        map.removeLayer(placesGroup);  

                        // Change the color of our search circle depending on 
                        // if any bars were returned
                        if (businesses.length > 0) {
                            circleColor = "#D4D419";
                        } else {
                            circleColor = "red";
                        }
                        searchCircle.setStyle({color: circleColor,
                                               fillColor: circleColor
                        });

                        // Create a new array to hold the returned pubs
                        var beerArray = new Array(businesses.length);

                        // Loop over the businesses and add each one to the map
                        for (var i = 0; i < businesses.length; ++i) {
                            var business = businesses[i];
                            var coords = [business.location.coordinate.latitude,
                                          business.location.coordinate.longitude];

                            beerArray[i] = L.marker(coords, {icon: beerIcon})
                        } 

                        placesGroup = L.layerGroup(beerArray).addTo(map);
                    }
                }

                request.open("GET", url, true);
                request.send(null);
            }
        </script>
    </body>
</html>

